<div class="content-wrapper">
  {{view SwapzPOS.FlashView modelBinding="flash"}}
  <div class="row">
    <div class="col-md-8">
      <h4>
        <i class="fa fa-gavel"></i>
        &nbsp;
        Purchases
      </h4>
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        {{#if currentUser.canCreateTransaction}}
          <button {{ action 'create' }} type="button" class="btn btn-flat"><i class="fa fa-plus"></i>&nbsp;New Purchase</button>
        {{/if}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="filter pull-left"></div>
    </div>
    <div class="col-md-6">
      <div class="search pull-right">
        {{input type="search" value=query class="search" placeholder="Search..."}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrapper">
        <table class="purchases table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-flag"></i></th>
              <th>SKU</th>
              <th>User</th>
              <th>Store</th>
              <th>Till</th>
              <th>Customer</th>
              <th>Paid (Cash / Credit)</th>
              <th>Completed</th>
              <th class="pull-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each purchase in controller}}
            <tr>
              <td>
                {{#if purchase.flagged}}
                <i class="fa fa-flag"></i>
                {{/if}}
              </td>
              <td>
                <a {{action 'view' purchase}} class="pointer">{{ purchase.sku }}</a>
              </td>
              <td>{{ purchase.user.fullname }}</td>
              <td>{{ truncate purchase.store.name 20 }}</td>
              <td>{{ truncate purchase.till.name 20 }}</td>
              <td>{{ purchase.customer.fullname }}</td>
              <td>{{ currency purchase.cash }} ({{ currency purchase.credit }})</td>
              <td>
                {{#if purchase.completedAt }}
                  {{ format-date-ago purchase.completedAt }}
                {{/if}}
              </td>
              <td>
                <ul class="actions">
                  {{#unless purchase.complete}}
                    <li><a {{action 'edit' purchase}}><i class="fa fa-pencil"></i></a></li>
                  {{/unless}}
                  <li><a {{action 'view' purchase}}><i class="fa fa-eye"></i></a></li>
                  <li><a {{action 'flag' purchase}}><i class="fa fa-flag"></i></a></li>
                  <li><a {{action 'print' purchase}}><i class="fa fa-print"></i></a></li>
                </ul>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
  {{ page-control model=SwapzPOS.Purchase paginate="paginate" }}
</div>