<figure>
  {{#if image.imageSrc }}
    <img {{bind-attr src="image.imageSrc"}} {{bind-attr alt="image.name"}} {{bind-attr title="image.description"}} class="img-responsive img-thumbnail" />
  {{/if}}
  {{#if image._destroy }}
    <div class="lead overlay"><i class="fa fa-trash-o"></i></div>
  {{/if}}
  <figcaption>
    <p><strong>{{ image.name }}</strong></p>
    <p>{{ image.description }}</p>
    <p class="lead no-bottom">
      <a {{ action "edit" image}} class="pointer"><i class="fa fa-pencil"></i></a>
      <a {{ action "destroy" image}} class="pointer"><i class="fa fa-trash-o"></i></a>
    </p>
  </figcaption>
</figure>