<div class="content-wrapper">
  {{view SwapzPOS.FlashView modelBinding="flash"}}
  <div class="row">
    <div class="col-md-8">
      <h4>
        <i class="fa fa-wrench"></i>
        &nbsp;
        Repairs
      </h4>
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        {{#if currentUser.canCreateTransaction}}
          <button {{ action 'create' }} type="button" class="btn btn-flat"><i class="fa fa-plus"></i>&nbsp;New Repair</button>
        {{/if}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="filter pull-left"></div>
    </div>
    <div class="col-md-6">
      <div class="search pull-right">
        {{input type="search" value=query class="search" placeholder="Search..."}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrapper">
        <table class="repairs table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-flag"></i></th>
              <th>SKU</th>
              <th>Customer</th>
              <th>Store</th>
              <th>Till</th>
              <th>User</th>
              <th>Completed</th>
              <th class="pull-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each repair in controller}}
            <tr>
              <td>
                {{#if repair.flagged}}
                <i class="fa fa-flag"></i>
                {{/if}}
              </td>
              <td>
                <a {{action 'view' repair}} class="pointer">{{ repair.sku }}</a>
              </td>
              <td>{{ repair.customer.fullname }}</td>
              <td>{{ truncate repair.store.name 20 }}</td>
              <td>{{ truncate repair.till.name 20 }}</td>
              <td>{{ repair.user.fullname }}</td>
              <td>
                {{#if repair.completedAt }}
                  {{ format-date-ago repair.completedAt }}
                {{/if}}
              </td>
              <td>
                <ul class="actions">
                  {{#unless repair.complete}}
                    <li><a {{action 'edit' repair}}><i class="fa fa-pencil"></i></a></li>
                  {{/unless}}
                  <li><a {{action 'view' repair}}><i class="fa fa-eye"></i></a></li>
                  <li><a {{action 'flag' repair}}><i class="fa fa-flag"></i></a></li>
                  <li><a {{action 'print' repair}}><i class="fa fa-print"></i></a></li>
                </ul>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
  {{ page-control model=SwapzPOS.Repair paginate="paginate" }}
</div>