<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Repair Receipt</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
    <style type="text/css">
      body {
        margin: 0px;
        padding: 20px;
        font-size: 12px;
        font-family: Arial, sans-serif;
        line-height: 18px;
        color: black;
      }
      hr {
        clear: both;
        border: none;
        height: 2px;
        background-color: lightgray;
      }
      header {
        position: relative;
      }
      header h1 {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        text-transform: uppercase;
        color: lightgray;
      }
      table {
        width: 100%;
      }
      table thead {
        background-color: lightgray;
      }
      table th {
        padding: 4px;
        text-align: left;
      }
      table td {
        padding: 10px 0px 0px 0px;
        text-align: left;
        border-bottom: 1px solid lightgray;
        vertical-align: top;
      }
      table th.amount, 
      table td.amount,
      table th.subtotal, 
      table td.subtotal {
        text-align: right;
      }
      div#store {
        float: left;
      }
      div#info {
        float: right;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      div#info dl dt {
        float: left;
        padding: 4px;
        font-weight: bold;
        clear: both;
      }
      div#info dl dd {
        float: right;
        padding: 4px;
        padding-left: 20px;
        margin: 0px;
        text-align: right;
      }
      div#summary dl {
        width: 100%;
        overflow: auto;
        clear: both;
      }
      div#summary dl dt {
        float: left;
        width: 90%;
        text-align: right;
        clear: right;
      }
      div#summary dl dd {
        float: right;
        width: 10%;
        margin: 0px;
        text-align: right;
      }
      p#credit, p#barcode {
        text-align: center;
      }
      p#legal {
        font-size: 10px;
      }
    </style>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="certificate">
      <header>
        <h1>Repairs Receipt</h1>
        <div id="store">
          <h2>{{ repair.account.title }}</h2>
          <address>
            {{ repair.store.name }}
            <br>
            {{ repair.store.address.first_line }}
            {% if repair.store.address.second_line != "" %}
              <br>
              {{ repair.store.address.second_line }}
            {% endif %}
            <br>
            {{ repair.store.address.city }} {{ repair.store.address.state }}, {{ repair.store.address.zip }} {{ repair.store.address.country }}
          </address>
          <p>{{repair.store.description | newline_to_br}}</p>
          {% for phone in repair.store.phones %}
            <p><strong>{{ phone.formatted }}</strong></p>
          {% endfor %}
        </div>
        <div id="info">
          <dl>
            <dt>Date</dt>
            {% if repair.complete %}
              <dd>{{ repair.completed_at | date: "%c" }}</dd>
            {% else %}
              <dd>{{ repair.created_at | date: "%c" }}</dd>
            {% endif %}
            <dt>SKU</dt>
            <dd>{{ repair.sku }}</dd>
            <dt>Customer</dt>
            <dd>{{ repair.customer.fullname }}</dd>
            <dt>Swapz</dt>
            <dd>{{ repair.user.fullname }}</dd>
          </dl>
        </div>
      </header>
      <hr>
      <div id="lines">
        <table>
          <thead>
            <tr>
              <th>Quantity</th>
              <th>Description</th>
              <th class="amount">Amount</th>
              <th class="subtotal">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {% for line in repair.lines %}
            <tr>
              <td>{{ line.quantity }}</td>
              <td>
                <strong>{{ line.title }}</strong>
                <br>
                {{ line.sku }}
                {% if line.note %}
                  <br>
                  {{ line.note }}
                {% endif %}
                {% if line.bullets %}
                  <ul>
                    {% for bullet in line.bullets %}
                      <li>{{ bullet }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>
              <td class="amount">{{ line.amount | currency }}</td>
              <td class="subtotal"><strong>{{ line.subtotal | currency }}</strong></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="summary">
        <dl>
          <dt>Subtotal:</dt>
          <dd>{{ repair.subtotal | currency }}</dd>
          <dt><strong>Tax ({{ repair.tax_rate }}%):</strong></dt>
          <dd><strong>{{ repair.tax | currency }}</strong></dd>
          <dt><strong>Total:</strong></dt>
          <dd><strong>{{ repair.total | currency }}</strong></dd>
        </dl>
      </div>
      <hr>
      <p id="barcode"><img src="{{repair.sku | barcode}}" alt="Barcode" /></p>
      <hr>
      <p id="legal">{{ repair.store.legal | newline_to_br }}</p>
      <hr>
    </div>
  </body>
</html>