- unless objects.empty?
  .pagination_container.row
    .pagination_menu.col-md-8
      = will_paginate objects, :inner_window => 3, :outer_window => 0
    .pagination_per_page.col-md-4
      .pull-right
        %span
          = link_to '10', send(path, params.merge(:page => objects.current_page, :per_page => 10)), :class => "btn btn-sm #{objects.per_page == 10 ? 'btn-primary' : 'btn-default'}"
          = link_to '25', send(path, params.merge(:page => objects.current_page, :per_page => 25)), :class => "btn btn-sm #{objects.per_page == 25 ? 'btn-primary' : 'btn-default'}"
          = link_to '50', send(path, params.merge(:page => objects.current_page, :per_page => 50)), :class => "btn btn-sm #{objects.per_page == 50 ? 'btn-primary' : 'btn-default'}"