.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{:'data-toggle' => 'collapse', :'data-parent' => '#variant_accordian', :href => "##{f.object.object_id}"}= f.object.name ||= 'New Variant'
      = link_to '#', :class => 'remove_fields pull-right' do
        %i.fa.fa-trash-o
  %div{:id => "#{f.object.object_id}", :class => 'panel-collapse collapse'}
    .panel-body
      .form-group
        .col-lg-4
          = f.label :name, 'Name', :class => 'control-label'
        .col-lg-8
          = f.text_field :name, :class => 'form-control'
      .form-group
        .col-lg-4
          = f.label :description, 'Description', :class => 'control-label'
        .col-lg-8
          = f.text_area :description, :rows => 3, :class => 'form-control'
      .form-group
        .col-lg-4
          = f.label :identifier, 'Identifier', :class => 'control-label'
        .col-lg-8
          = f.text_field :identifier, :class => 'form-control'
      .form-group
        .col-lg-4
          = f.label :identifier_type, 'Identifier Type', :class => 'control-label'
        .col-lg-8
          = f.select :identifier_type, options_for_select(['ASIN', 'EAN', 'ISBN', 'UPC', 'MPN'], f.object.identifier_type), {}, {:class => 'form-control'}
      .form-group
        .col-lg-4
          = f.label :adjustment, 'Adjustment', :class => 'control-label'
        .col-lg-8
          = f.adjustment_field :adjustment, :step => 0.01, :class => 'form-control'
      .form-group
        .col-lg-4
          = f.label :adjustment_cash, 'Purchase Adjustment (Cash)', :class => 'control-label'
        .col-lg-8
          = f.adjustment_field :adjustment_cash, :step => 0.01, :class => 'form-control'
      .form-group
        .col-lg-4
          = f.label :adjustment_credit, 'Purchase Adjustment (Credit)', :class => 'control-label'
        .col-lg-8
          = f.adjustment_field :adjustment_credit, :step => 0.01, :class => 'form-control'
      .hidden
        = f.hidden_field :_destroy, :class => 'destroy'
        = f.hidden_field :account_id
        = f.hidden_field :id unless f.object.new_record?