<div class="content-wrapper">
  {{view SwapzPOS.FlashView modelBinding="flash"}}
  <div class="row">
    <div class="col-md-8">
      <h4>
        <i class="fa fa-gavel"></i>
        &nbsp;
        Edit Purchase
      </h4>
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        <button {{action 'save'}} {{bind-attr disabled="nonSaveable"}} type="button" class="btn btn-flat white navbar-btn">
          <i class="fa fa-save"></i>
          &nbsp;
          Save
        </button>
        <button {{action 'complete'}} {{bind-attr disabled="nonCompletable"}} type="button" class="btn btn-flat navbar-btn">
          <i class="fa fa-check"></i>
          &nbsp;
          Complete
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-8">
      {{#tab-group tabs=tabs}}
        {{#tab-group-item key="search" active=true}}
          {{ partial 'purchase/search' }}
        {{/tab-group-item}}
        {{#tab-group-item key="cart"}}
          {{ partial 'purchase/cart' }}
        {{/tab-group-item}}
        {{#tab-group-item key="customer"}}
          {{ partial 'purchase/customer' }}
        {{/tab-group-item}}
        {{#tab-group-item key="note"}}
          {{ partial 'purchase/note' }}
        {{/tab-group-item}}
      {{/tab-group}}
    </div>
    <div class="col-lg-4">
      {{ partial 'purchase/summary' }}
    </div>
  </div>
</div>