<div class="well">
  <div class="input-group">
    {{search-field name="itemQuery" results="5" autosave="item_search" value=itemQuery placeholder="Search Items..." class="form-control"}}
    <span class="input-group-btn">
      <button {{ action "clearQuery" "itemQuery"}} class="btn btn-default" type="button">Clear</button>
    </span>
  </div>
</div>
<div class="list-group no-bottom">
  {{#each item in items}}
    <a {{ action "selectItem" item}} {{bind-attr class=":list-group-item item._selected:active"}}>
      <div class="row">
        <div class="col-lg-2">
          {{#if item.images.firstObject}}
            <img {{bind-attr src="item.images.firstObject.imageUrl"}} width="48" height="48" {{bind-attr alt="item.images.firstObject.name"}} {{bind-attr title="item.images.firstObject.description"}} class="img img-circle" />
          {{/if}}
        </div>
        <div class="col-lg-10">
          <strong>{{ item.name }}</strong>
          {{#if item.sku }}
            <br>
            <em>{{ item.sku }}</em>
          {{/if}}
          {{#if item.description }}
            <br>
            {{ item.description }}
          {{/if}}
        </div>
      </div>
    </a>
  {{/each}}
  <hr>
  <button {{action 'moreItems'}} {{bind-attr disabled="cantMoreItems"}} type="button" class="btn btn-flat">Load More...</button>
</div>