{{#modal-dialog title="Edit Line" confirm="Done" close="closeModal" accept="addLine"}}
  <div class="row">
    <div class="col-md-12">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-4">
            <label for="title" class="control-label">Title</label>
          </div>
          <div class="col-md-8">
            {{input name="title" value=title class="form-control"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="note" class="control-label">Note</label>
          </div>
          <div class="col-md-8">
            {{input name="note" value=note class="form-control"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="quantity" class="control-label">Quantity</label>
          </div>
          <div class="col-md-8">
            {{input name="quantity" type="number" value=quantity step="1" min="0" class="form-control"}}
          </div>
        </div>
        {{#if purchase}}
          <div class="form-group">
            <div class="col-md-4">
              <label for="amountCash" class="control-label">Value Cash</label>
            </div>
            <div class="col-md-8">
              {{currency-field name="amountCash" currency=amountCash step="0.01" class="form-control"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4">
              <label for="amountCredit" class="control-label">Value Credit</label>
            </div>
            <div class="col-md-8">
              {{currency-field name="amountCredit" currency=amountCredit step="0.01" class="form-control"}}
            </div>
          </div>
        {{else}}
          <div class="form-group">
            <div class="col-md-4">
              <label for="amount" class="control-label">Amount</label>
            </div>
            <div class="col-md-8">
              {{currency-field name="amount" currency=amount step="0.01" min="0" class="form-control"}}
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <div class="col-md-4">
            <label for="taxable" class="control-label">Taxable</label>
          </div>
          <div class="col-md-8">
            {{input type="checkbox" checked=taxable }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/modal-dialog}}